<h1>Enter a new password</h1>

<form action='/password_reset/new' method='post'>
  Password: <input name='password' type='password' placeholder='password'>
  <br>
  Password confirmation: <input name='password_confirmation' type='password' placeholder='password_confirmation'>
  <input type='submit' value="Change password">
</form>
