<h1>Enter a new password</h1>

<form action='/password_reset/new' method='post'>
  <p>Password: <input name='password' type='password' placeholder='password'></p>
  <p>Password confirmation: <input name='password_confirmation' type='password' placeholder='password_confirmation'></p>
  <input type='submit' value="Change password">
</form>
