<body class="container">
<h1> Please Sign Up <h1>

  <form action='/users' method='post'>
    Email: <input name='email' type='text' placeholder="email" required >
    Password: <input name='password' type='password' placeholder="password" required>
    <input type='submit' value="Sign Up">
  </form>
</body>
