<% if flash[:notice] %>
  <div id='notice'>
    <p><%= flash[:notice].first %></p>
  </div>
<% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
  <p>Please correct the errors below:</p>
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><p><%= error %></p></li>
    <% end %>
  </ul>
<% end %>
